.card {
    font-family: "Brush Script MT", cursive;
	width: 37rem;
    margin: auto;
    background-color: rgb(16, 1, 1);
    top: 6rem;
    position: relative;
    border-radius: 1.5rem;
    box-shadow: 5px 8px 25px #fcfcfc8c;
    display: flex;
    flex-direction: row;
    color: white;
}
.paymentMethod{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product {
    object-fit: cover;
	width: 20em;
    height: 20em;
    border-radius: 100%;
}

.rightside {
    font-style: "Brush Script MT", cursive;
    background-color: rgb(16, 1, 1);
	border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 1rem 2rem 3rem 3rem;
}
.rightside h1,h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.p{
    display:block;
    font-size: 1.1rem;
    font-weight: 400;
    margin: .8rem 0;
}
.inputbox
{
    background-color: rgb(16, 1, 1);
	width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1.5px solid #ccc;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 500;
    outline:none;
}
.expcvv {
    display:flex;
    justify-content: space-between;
    padding-top: 0.6rem;
}
.expcvv_text{
    padding-right: 1rem;
}
.expcvv_text2{
    padding:0 1rem;
}
.buttons{
    background: linear-gradient(
135deg
, #753370 0%, #298096 100%);
    padding: 15px;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 10px;
    width:100%;
    letter-spacing: .11rem;
    outline:none;
}
.buttons:hover
{
	transform: scale(1.02) translateY(-3px);
    box-shadow: 3px 3px 6px #38373785;
}
@media only screen and (max-width: 1000px) {
    .card{
        flex-direction: column;
        width: auto;
      
    }

    .leftside{
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
      border-top-right-radius:0;
      border-radius:0;
    }

    .rightside{
        width:auto;
        border-bottom-left-radius: 1.5rem;
        padding:0.5rem 3rem 3rem 2rem;
      border-radius:0;
    }
}