/* Add a black background color to the top navigation */
body {
  background-color: rgb(16, 1, 1);
  font-style: "Brush Script MT", cursive ;
}
/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: rgb(16, 1, 1);
  top: 0%;
  position: fixed;
  z-index: 1; 
  font-family: "Brush Script MT", cursive;
}

/* Navbar links */

.navbar a {
  float: right;
  text-align: center;
  padding: 17px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  padding-top: 25px;
  margin-right: 20px;
}

/* Navbar links on mouse-over */

.navbar a.remark {
  float: left;
  padding-top: 12px;
  padding-left: 120px;
  font-size: 35px;

  background-color: rgb(16, 1, 1);
}
.navbar a:hover {
  color: rgb(83, 186, 205);
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* Main page mains class*/
.mained {
  position: absolute;
  top: 11vw;
  left: 10vw;
  background-color: rgb(16, 1, 1);
}

.first_text {
  color: white;
  position: absolute;
  top: 12vw;
  left: 50vw;
  right: 150px;

  text-align: center;
  font-size: 40px;
  font-family: "Brush Script MT", cursive;
}
/*floating text*/
.floating {
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@-webkit-keyframes Floatingx {
  from {
    -webkit-transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 15px);
  }
  to {
    -webkit-transform: translate(0, -0px);
  }
}

@-moz-keyframes Floating {
  from {
    -moz-transform: translate(0, 0px);
  }
  65% {
    -moz-transform: translate(0, 15px);
  }
  to {
    -moz-transform: translate(0, -0px);
  }
}

.mained2 {
  position: absolute;
  top: 65vw;
  left: 58vw;
  background-color: rgb(16, 1, 1);
}

.second_text {
  color: white;
  position: absolute;
  top: 1000px;
  left: 50px;
  padding-right: 40vw;
  font-size: 40px;
  font-family: "Brush Script MT", cursive;
}

.bottom-email {
  color: white;
  position: absolute;
  top: 2800px;
  left: 530px;
  height: 330px;
  width: 400px;
  

}
.inputss {
  position: absolute;
  width: 300px;
  height: 40px;
  left: 45px;
}
.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*Choice making*/
.choice {
  background-color: rgb(16, 1, 1);
  position: absolute;
  display: flex;
  top: 1900px;
  left: 30px;
  width: 1300px;
  height: 500px;
}

.choice > div {
  background-color: rgb(16, 1, 1);
  margin-left: 50px;
  font-size: 34px;
  
}
.box{
  box-shadow: 0 0 20px 2px rgba(16, 1, 1, 0.1);
  transition: 1s;
}
.box img{
  height: 100%;
  width: 100%; 
  object-fit: contain;
  display: block;
  border-radius: 20px; 
}
.box:hover{
  transform: scale(1.2);
  z-index: 2;
}

.box h2:hover {
  color: rgb(83, 186, 205);
}


.in_box{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 2500px;
  background-color: rgb(16, 1, 1);
  top: 200px;

}
.in_box div{
  position: relative;
  width: 50%;
  background-color: rgb(16,1,1);
  height: 400px;
  box-shadow: 0 0 20px 2px rgba(16, 1, 1, 0.1);
  transition: 0.5s;
}
.in_box div:hover{
  transform: scale(1.05);
  z-index: 2;
}
.in_box img{  
  height :100%;
  width :100%;
  object-fit: contain;
  display: block;
  border-radius: 20%  ;
}

.in_box h1{
  position: absolute;
  color: white;
  align-self: flex-start;
  font-family: "Brush Script MT", cursive;
  font-size: 80px;
  box-shadow: 0 0 20px 2px rgba(16, 1, 1, 0.1);
  transition: 0.5s; 
}

.in_box h1:hover{
  transform: scale(1.05);
  z-index: 2;
}

.in_box a{
  text-decoration: none;
  color: white;
}

.in_box a:hover{
  color: aqua;
}

.out_box{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1300px;
  background-color: rgb(16, 1, 1);
  top: 200px;
}

.out_box div{
  position: relative;
  width: 50%;
  background-color: rgb(16,1,1);
  height: 500px;
  box-shadow: 0 0 20px 2px rgba(16, 1, 1, 0.1);
  transition: 0.5s;
}

.out_box img{  
  height :100%;
  width :100%;
  object-fit: contain;
  display: block;
  border-radius: 10%;
}

.out_box div:hover{
  transform: scale(1.05);
  z-index: 2;
}


.out_box h1{
  position: absolute;
  color: white;
  align-self: flex-start;
  font-family: "Brush Script MT", cursive;
  font-size: 80px;
  box-shadow: 0 0 20px 2px rgba(16, 1, 1, 0.1);
  transition: 0.5s; 
}

.out_box h1:hover{
  transform: scale(1.05);
  z-index: 2;
}

.out_box a{
  text-decoration: none;
  color: white;
}
.out_box a:hover{
  color: aqua;
}

.searching{
  width:90%;
  background-color: rgb(16, 1, 1);
  position: relative;
  top: 240px;
  left: 30px;
  height: 500px;
}

.team {
  background-color: rgb(16, 1, 1);
  position: absolute;
  display: flex;
  top: 250px;
  left: 85px;
  width: 90%;
  height: 400px;
}
.team > div{
  background-color: rgb(16, 1, 1);
  justify-content: space-between;
  flex-direction: row;
  margin: 10px;
  padding: 10px;
  margin-left: 80px;
  text-align: center;
}

.team_box img{
  height: 50%;
  width: 100%; 
  object-fit: contain;
  display: block;
  border-radius: 90%; 
  box-shadow: 0 0 20px 2px rgba(16, 1, 1, 0.1);
  transition: 0.5s; 
}
.team_box > i{
  position: relative;
  text-align: center;
  color: white;
  font-family: "Brush Script MT", cursive;
  font-size: 20px;
  top: 20px;
}

.team_box img:hover{
  transform: scale(1.2);
  z-index: 2;
}
.Registration {
  color: antiquewhite;
  background-color: rgb(16,1,1,);
  width: 30%;
  height: 600px;
  position: absolute;
  top: 120px;
  left: 35%;
  display: flex;
  font-size: 15px;
  flex-direction: column;
  align-content: space-between
}
.Registration span{
  align-self: center;
  text-align: center;
}
.Registration label{
  position: relative;
  margin-left: 10%;
  top: 23px;
}

.Registration input{
  width: 80%;
  height: 25px;
  margin-left: 9%;
  margin-top: 7%;
  border-radius: 10px;
}
.Registration button{
  width: 25%;
  height: 7%;
  margin-top: 10%;
  align-self: center;
  margin-left: 37%;
  background-color: rgb(102, 165, 103);
  border-color: rgb(102, 165, 103); 
  border-radius: 5px;
}
.Registration button:hover{
  background-color: rgb(40, 124, 42);
}

.login {
  color: antiquewhite;
  background-color: rgb(16, 1, 1);
  width: 30%;
  height: 400px;
  position: relative;
  top: 160px;
  left: 36%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  text-align: center;
}

.login input{
  position: relative;
  width: 80%;
  height: 25px;
  margin-top: 8%;
  border-radius: 4px;
}
.login button{
  width: 25%;
  height: 15%;
  margin-top: 8%;
  align-self: center;

  background-color: rgb(102, 165, 103);
  border-color: rgb(102, 165, 103); 
  border-radius: 5px;
}

.login button:hover{
  background-color: rgb(40, 124, 42);
}

.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 22px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(16, 1, 1);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(96, 150, 97);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(96, 150, 97);
  color: azure;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

